<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>CIA</span>
</div>

<div class="content" role="main">

  <!-- Resources -->
  <h2>Upload file to censor</h2>
  <app-upload-document></app-upload-document>
  <app-upload-classified-list></app-upload-classified-list>
  <app-download-censored-doc></app-download-censored-doc>
</div>

