<div class="card-container">
  <a class="card" (click)="uploadFile()" target="_blank" rel="noopener">
    <span>upload file of classified words</span>
  </a>
  <input
    #inputFile
    accept=".txt"
    class="hidden"
    type="file"
    (change)="onChange($event)"
  />
</div>
