<div *ngIf="show" class="card-container">
  <a class="card" (click)="uploadFile()" target="_blank" rel="noopener">
    <span>upload file to censor</span>
  </a>
  <input
    #inputFile
    accept=".txt"
    class="hidden"
    type="file"
    (change)="onChange($event)"
  />
</div>
